body {
	font-family: "Roboto";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #213547;
	background-image: url("./assets/wallpaper.webp");
	font-family: "Roboto";
	margin: 0 auto;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
}

.paper {
	margin: 2rem;
	filter: drop-shadow(0 0 2em #646cffaa);
	font-size: 2vw;
}

.paper:hover {
	animation: scaleUpDown 2s infinite;
	-moz-animation: scaleUpDown 2s infinite;
	-webkit-animation: scaleUpDown 2s infinite;
	-o-animation: scaleUpDown 2s infinite;
}

.chips {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.chip {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #f9f9f9;
	cursor: pointer;
	transition: border-color 0.25s;
	box-shadow: rgba(255, 140, 0, 0.4) -5px 5px, rgba(255, 160, 0, 0.3) -10px 10px;
}

.chip:hover {
	border-color: rgba(255, 80, 0, 0.4);
	color: purple;
	opacity: 1;
	animation: fadeInOut 2s infinite;
	-moz-animation: fadeInOut 2s infinite;
	-webkit-animation: fadeInOut 2s infinite;
	-o-animation: fadeInOut 2s infinite;
}

.chip:focus,
.chip:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.repos-container {
	margin: 2rem;
}

.repos {
	padding: 0 4rem;
	list-style: none;
	text-align: start;
}

.repos li:last-child {
	border: none;
}

.repo {
	padding: 1rem;
	border-bottom: 1px solid lightgrey;
}

.repo:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: red;
}

.repo-description {
	font-weight: 200;
	font-size: 14px;
	text-decoration: none;
}

.repo-description {
	font-weight: 200;
	font-size: 14px;
	text-decoration: none;
}

.window {
	border: 1px solid rgba(0, 0, 0, 0.24);
	border-radius: 0.2rem;
	height: 60vh;
	width: 60vw;
	animation: scaleUp 0.4s;
	-moz-animation: scaleUp 0.4s;
	-webkit-animation: scaleUp 0.4s;;
	-o-animation: scaleUp 0.4s;
}

.window-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.window-content {
	border: 1px solid rgba(0, 0, 0, 0.24);
	background-image: url("./assets/background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.tabs {
	display: flex;
	align-items: center;
	height: 3rem;
}

.tab {
	display: flex;
	align-items: center;
	height: 2rem;
	padding: 0.2rem 0.6rem;
	border-radius: 0.4rem;
	background-color: rgba(0, 0, 0, 0.3);
	margin-right: 0.4rem;
	color: inherit;
	font: inherit;
	font-size: max(0.7rem, 1vw);
}

.tab:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: pink;
}

.toolbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	height: 2rem;
	padding: 0 1rem;
}

.nav {
	display: flex;
	align-items: center;
	margin: auto 0;
}

.nav-button {
	display: flex;
	align-items: center;
	padding: 0.2rem;
	border-radius: 0.2rem;
}

.nav-button:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: pink;
}

.search-box {
	width: 60%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0.2rem;
	border-radius: 0.2rem;
}

.search-box:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: pink;
}

.taskbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	position: absolute;
	width: 60%;
	height: 3rem;
	margin: 0.5rem;
	bottom: 0;
	border-radius: 0.4rem;
	background-color: rgba(0, 0, 0, 0.38);
	animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
}

.glassy {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.6px);
	-webkit-backdrop-filter: blur(7.6px);
	border: 1px solid rgba(0, 0, 0, 0.24);
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: pink;
}

@media screen and (max-width: 600px) {
	.window {
		height: 100%;
		width: 100%;
	}
	.taskbar {
		width: 80%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes scaleUpDown {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(0.6);
	}
	100% {
		transform: scale(1);
	}
}

